.scroll {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  transform: translateX(-50%) rotateY(180deg);
  font-size: 2rem;
  z-index: 50;
  animation: bounce 1s infinite;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  size: 25px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
